// offscript //



html.active-offscript {
		height: auto;
		overflow: auto;
}

body.active-offscript {
	border: none;
	height: auto;
	&:before,
	&:after {
		content:none;
	}
	
}

.container {
  width: 100%;
  padding: 100px 20px;
  text-align: center;
  h2 {
	  text-align: left;
  }
}

figure {
  width: 20%;
  display: inline-block;
  padding: 0px;
	overflow: hidden;
	//border: 1px solid red;
	
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 10px;
  > .inner {
    padding: 50% 0;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 15px rgba(50,50,50,0.1);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-out;
  }
  > img {
    width: 100%;
  }
  figcaption {
	  position: relative;
    text-align: left;
    left: calc(100% - 0.8em);
    transition: left 0.5s ease-out;
    white-space: nowrap;
  }
  &:hover {
	  > .inner {
		  transform: scale(1.05);
	  }
	  figcaption {
		  left: 0;
	  }
  }
}

#content-slider {
  position: fixed;
  width:100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  transform: translateX(100%);
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;


  &.active {
    transform: translateX(0);
  }

  iframe {
    width: 100%;
    height: 100vh;
  }
  img {
    display:block;
    max-width: 100%;
  }
}

#icon-close {
  position:fixed;
  right:10px;
  top:10px;
  z-index: 4;
  transform: translateY(-100px);
  transition: transform .5s ease-out 1s;
  mix-blend-mode: difference;
  svg {
    fill: red;
  }
  &:hover svg {
      animation: bulge 1s;
  }
  &.active {
    transform: translateY(0px);
  }
}
