<canvas id="gallery-canvas" width="1000" height="800"></canvas>

<div id="slider" class="slide-0">

    <section class="slide active-slide" id="slide-0">
      <a href="//grahamortho.com" target="_blank">
        <img src="assets/images/portfolio/grahamortho-1.jpg">
      </a>
      <article class="gallery-text">
          <p>A high-end, well-regarded doctor wanted something a little different from the standard orthodontic site. "Minimalism to the max" was his brief.
          Hover the staff pictures to see their bios.</p>
          <a href="//grahamortho.com" target="_blank">
            {% include icon-link.html %}
          </a>
      </article>
    </section>

    <section class="slide" id="slide-1">
			<a href="//blackcordon.com" target="_blank">
        <img src="assets/images/portfolio/blackcordon-1.png">
			</a>
      <article class="gallery-text">
          <p>Website for a boutique Napa winemaker.
          <br>www.blackcordon.com</p>
          <a href="//blackcordon.com" target="_blank">
            {% include icon-link.html %}
          </a>
      </article>

    </section>


    <section class="slide" id="slide-2">
			<a href="//drcynthiab.com" target="_blank">
        <img src="assets/images/portfolio/brattesani-1.jpg">
			</a>
      <article class="gallery-text">
        <p>Dr Cynthia Brattesani is a sought-after dentist in San Francisco- I built her a minimalistic, image-rich site.</p>
        <a href="//drcynthiab.com" target="_blank">
          {% include icon-link.html %}
        </a>
      </article>
    </section>

    <section class="slide" id="slide-3">
			<a href="//xxx.com" target="_blank">
        <img src="assets/images/portfolio/enoriverortho-1.jpg">
			</a>
      <article class="gallery-text">
        A little different page style for this orthondontist.<br>
        www.enoriverortho.com
        <a href="//www.enoriverortho.com" target="_blank">
          {% include icon-link.html %}
        </a>
      </article>
    </section>

		<section class="slide" id="slide-4">
			<a href="//xxx.com" target="_blank">
        <img src="http://placehold.it/640x480">
			</a>
      <article class="gallery-text">
        Mappo.
      </article>
    </section>

		<section class="slide" id="slide-5">
			<a href="//xxx.com" target="_blank">
        <img src="assets/images/portfolio/jsonomatic-1.jpg">
			</a>
      <article class="gallery-text">
        A tool for the creation of randomized JSON objects to fill test databases: names, emails, phone numbers.<br>
      Built with NodeJS / Express / React <br>
        www.jsonomatic.com
        <a href="//www.jsonomatic.com" target="_blank">
          {% include icon-link.html %}
        </a>
      </article>
    </section>

</div>

<a class="gallery-container-toggle">
    <svg viewBox="0 0 54 54" width="54" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <polyline points="5,10 52,42" fill="none" stroke="white" stroke-width="2"	/>
      <polyline points="2,52 50,2" fill="none" stroke="white" stroke-width="2"	/>
      <circle cx="2" cy="52" r="2" fill="white"/>
      <circle cx="50" cy="2" r="2" fill="white"/>
      <circle cx="5" cy="10" r="2" fill="white"/>
      <circle cx="52" cy="42" r="2" fill="white"/>
    </svg>
</a>
<a class="nav" id="nav-prev">
    <span>PREVIOUS</span>
    <svg viewBox="0 0 100 54" width="100" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <polyline points="2,52 50,2 98,52" fill="none" stroke="white" stroke-width="2"	/>
      <circle cx="2" cy="52" r="2" fill="white"/>
      <circle cx="50" cy="2" r="2" fill="white"/>
      <circle cx="98" cy="52" r="2" fill="white"/>
    </svg>
</a>
<a class="nav" id="nav-next">
    <span>OK, NEXT</span>
    <svg viewBox="0 0 100 55" width="100" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <polyline points="2,2 50,50 98,2" fill="none" stroke="white" stroke-width="2"	/>
      <circle cx="2" cy="2" r="2" fill="white"/>
      <circle cx="50" cy="50" r="2" fill="white"/>
      <circle cx="98" cy="2" r="2" fill="white"/>
    </svg>
</a>
