* {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 20px solid white;
  color: black;
  background-size: 20%, 100%;
  font-family: "EB Garamond", "Josefin Sans", "Palanquin-Dark", Chivo, sans-serif; }
  body:before {
    content: ' ';
    position: fixed;
    height: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 5; }
  body:after {
    position: fixed;
    content: ' ';
    width: 100%;
    height: 30vh;
    background: linear-gradient(120deg, rgba(178, 81, 65, 0.1), rgba(178, 81, 65, 0.03));
    top: 50vh;
    left: -16px;
    transform-origin: 0 0;
    transform: skewY(-20deg);
    z-index: 2;
    pointer-events: none; }

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: radial-gradient(white, #bbb);
  z-index: 100;
  transform-origin: 0% 0%;
  transform: rotate(0deg);
  transition: transform 0.5s; }
  .loader .propellor {
    position: relative;
    top: calc(50vh - 125px);
    left: calc(50vw - 125px);
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    border-radius: 50%;
    animation: rotate 6s linear infinite; }
    .loader .propellor .inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 250px;
      transform-style: preserve-3d;
      animation: spin 1.25s linear infinite; }
    .loader .propellor .blade {
      position: absolute;
      background: linear-gradient(0deg, #777 0%, #777 79.9%, #e9a441 80%, yellow 100%);
      width: 40px;
      height: 125px;
      left: 105px;
      top: -14px;
      transform-origin: 50% 110%;
      transform: rotateY(45deg);
      border-radius: 20px 20px 20px 20px / 50px 50px 100px 100px;
      border-left: 4px solid #bbb;
      border-right: 4px solid #444; }
      .loader .propellor .blade:nth-of-type(2) {
        transform: rotate(120deg); }
      .loader .propellor .blade:nth-of-type(3) {
        transform: rotate(240deg); }
    .loader .propellor .center {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #ddd;
      left: 110px;
      top: 110px;
      border-radius: 50%; }
      .loader .propellor .center:after, .loader .propellor .center:before {
        position: absolute;
        content: ' ';
        width: 30px;
        height: 30px;
        background: #999;
        border-radius: 50%;
        top: 0;
        left: 0; }
      .loader .propellor .center:before {
        transform: translateZ(10px) scale(0.5);
        background: radial-gradient(white, #ddd);
        z-index: 2; }
      .loader .propellor .center:after {
        transform: translateZ(5px) scale(0.85);
        background: radial-gradient(white, #aaa); }

@keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg); }
  100% {
    transform: rotateX(360deg) rotateY(360deg); } }

.clear:after {
  content: " ";
  display: block;
  clear: both; }

.text-center {
  text-align: center; }
  .text-center.abs, .text-center.fixed {
    margin: 0 auto;
    left: 0;
    right: 0; }

.abs {
  position: absolute; }
  .absimg {
    display: block; }

.fixed {
  position: fixed; }

.bottom {
  bottom: 5%; }

.top {
  top: calc(5% + 50px); }

.inline-block {
  display: inline-block; }

.fl-left {
  float: left; }

.fl-right {
  float: right; }

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em; }

header {
  position: fixed;
  top: 0;
  border-top: 20px solid white;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0;
  text-align: center; }
  header svg {
    height: 100px;
    width: 100%;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.05)); }
  header img {
    position: absolute;
    height: 40px;
    top: -2px;
    left: 45%;
    z-index: 2; }
  header.activated {
    opacity: 1;
    transition: opacity 1s;
    z-index: 3; }

#home-icon {
  position: fixed;
  top: 20px;
  left: 20px; }

.page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: green;
  transform: translateY(100%); }

.page#portfolio {
  background-color: #fff;
  background-image: url(images/noise.png), linear-gradient(#9b9398, #ccc8cb);
  background-size: 20%,100%;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  height: 100vh;
  z-index: 10; }

.active-portfolio .page#portfolio {
  transform: translateY(0); }

.active-portfolio #blimpContainer {
  display: none; }

.active-portfolio #icon-prev svg polyline,
.active-portfolio #icon-next svg polyline {
  stroke: white; }

h1 {
  letter-spacing: 2px; }

.scissors {
  will-change: transform;
  bottom: 200px;
  right: 0;
  transform: translateX(30%); }

#scissors-1 {
  transform: rotate(20deg);
  transform-origin: 55% 70%; }

#homepage-next,
#homepage-prev {
  filter: drop-shadow(3px 10px 5px rgba(0, 0, 0, 0.2)); }

#homepage-next {
  z-index: 5; }
  #homepage-next.hidden {
    bottom: -50%; }
  #homepage-next:active {
    transform: scale(1.1); }

#homepage-prev {
  z-index: 6; }
  #homepage-prev.hidden {
    top: -50%; }
  #homepage-prev:active {
    transform: scale(1.1); }

#homepage-scroller {
  height: 300%;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: transparent;
  transition: transform ease-out 1s;
  /*
	&:after {
		position: fixed;
		content:' ';
		width: 100%;
		height: 30vh;
		background: rgba(#B25141,0.1);
		top: 50vh; left: -16px;
		transform-origin: 0 0;
		transform: skewY(-20deg)
	}
*/ }

.homepage-0 {
  transform: translateY(0%); }

.homepage-1 {
  transform: translateY(-33.33333%); }

.homepage-2 {
  transform: translateY(-66.66667%); }

.page-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 20px*2);
  background-image: linear-gradient(45deg, rgba(50, 50, 50, 0.01), rgba(50, 50, 50, 0.2)), url("images/lightpaperfibers.png");
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.15); }
  .page-container .bottom {
    bottom: 10%; }
  .page-container .top {
    top: calc(10% + 50px); }
  .page-container .middle {
    top: 50vh;
    transform: translateY(-50%); }
  .page-container #finger {
    width: 20%; }
  .page-container#homepage-0 svg#bg-1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .page-container#homepage-0 #load {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100; }
  .page-container#homepage-0 .st0 {
    stroke-dasharray: 1050;
    stroke-dashoffset: 1050;
    stroke-profile-widths: 10%, 110%, 30%;
    stroke-profile-positions: 0, 70%; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
  .page-container#homepage-0 h1 {
    opacity: 0;
    pointer-events: none;
    position: absolute; }
  .page-container#homepage-0 span.text {
    color: white;
    opacity: 1;
    background: black; }
  .page-container#homepage-0 span {
    display: inline-block;
    color: black;
    opacity: 1;
    font-size: 60px;
    transform-origin: 0 70%;
    transform: rotateX(-90deg);
    text-shadow: 10px 20px 10px rgba(50, 50, 50, 0.15); }
    .page-container#homepage-0 span:nth-child(14), .page-container#homepage-0 span:nth-child(9) {
      width: 20px; }
  .page-container#homepage-0 #title {
    position: absolute;
    left: 15vw;
    top: 10vw;
    height: 50px;
    width: auto;
    z-index: 5; }
  .page-container#homepage-0:after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 20vh;
    background: linear-gradient(120deg, rgba(178, 81, 65, 0.2), rgba(178, 81, 65, 0.15));
    bottom: -40vh;
    right: 0px;
    transform-origin: 0 0;
    transform: skewY(-20deg);
    z-index: 2;
    pointer-events: none; }
  .page-container#homepage-1 .textblock {
    width: 90%;
    line-height: 1.6;
    max-width: 500px;
    left: 0;
    right: 0;
    font-size: 1.2em;
    margin: 0 auto;
    transform: translate(-125px, -50%);
    opacity: 0;
    opacity: 1;
    background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(-45deg, #4c4c4c 0%, rgba(89, 89, 89, 0.5) 12%, #666666 25%, #474747 39%, #2c2c2c 50%, rgba(0, 0, 0, 0.5) 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, rgba(19, 19, 19, 0.2) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .page-container#homepage-2 h2 {
    width: 95%;
    margin: 0 auto;
    max-width: 1400px;
    font-size: 2.5em;
    left: 0;
    right: 0;
    transform: translate(-125px, -50%); }
  .page-container#homepage-2 #statusMessage {
    width: 90%;
    max-width: 500px;
    border: 2px solid brown;
    opacity: 1;
    transition: opacity 1s;
    border-radius: 2px;
    box-shadow: 0 30px 10px -10px rgba(50, 50, 50, 0.3); }
    .page-container#homepage-2 #statusMessage.hidden {
      opacity: 0; }
    .page-container#homepage-2 #statusMessage:after {
      content: "\00d7";
      position: absolute;
      top: 0;
      right: 0.3em;
      font-size: 2em;
      line-height: 1.1; }
  .page-container#homepage-2 #boarding-pass {
    position: absolute;
    width: 95%;
    max-width: 1400px;
    padding: 10% 0 10% 0;
    background-image: url(../assets/images/boarding-pass.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform-origin: 120% 00%;
    transform: rotate(10deg) translate(0, -50%); }
  .page-container#homepage-2 form {
    display: block;
    width: 45%;
    margin: 16% 0 0 3%; }
    .page-container#homepage-2 form label {
      position: relative;
      display: block;
      text-align: left;
      padding-bottom: 1em;
      margin-bottom: 2em;
      height: 58px;
      font-size: 1.2em;
      color: transparent; }
    .page-container#homepage-2 form .form-left,
    .page-container#homepage-2 form .form-right {
      float: left;
      width: 50%;
      padding-right: 10px; }
    .page-container#homepage-2 form input,
    .page-container#homepage-2 form textarea,
    .page-container#homepage-2 form button {
      display: block;
      font-family: "EB Garamond", "Josefin Sans", "Palanquin-Dark", Chivo, sans-serif;
      font-size: 1.5em;
      padding: 0.5em;
      border: none; }
      .page-container#homepage-2 form input:focus, .page-container#homepage-2 form input:active, .page-container#homepage-2 form input:hover,
      .page-container#homepage-2 form textarea:focus,
      .page-container#homepage-2 form textarea:active,
      .page-container#homepage-2 form textarea:hover,
      .page-container#homepage-2 form button:focus,
      .page-container#homepage-2 form button:active,
      .page-container#homepage-2 form button:hover {
        outline: 0; }
      .page-container#homepage-2 form input::-webkit-input-placeholder,
      .page-container#homepage-2 form textarea::-webkit-input-placeholder,
      .page-container#homepage-2 form button::-webkit-input-placeholder {
        color: #ffaa99; }
      .page-container#homepage-2 form input:-moz-placeholder,
      .page-container#homepage-2 form textarea:-moz-placeholder,
      .page-container#homepage-2 form button:-moz-placeholder {
        /* Firefox 18- */
        color: #ffaa99; }
      .page-container#homepage-2 form input::-moz-placeholder,
      .page-container#homepage-2 form textarea::-moz-placeholder,
      .page-container#homepage-2 form button::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffaa99; }
      .page-container#homepage-2 form input:-ms-input-placeholder,
      .page-container#homepage-2 form textarea:-ms-input-placeholder,
      .page-container#homepage-2 form button:-ms-input-placeholder {
        color: #ffaa99; }
    .page-container#homepage-2 form input,
    .page-container#homepage-2 form textarea {
      width: 100%;
      font-family: 'Courier',monospace;
      margin-bottom: 1em;
      font-size: 1em; }
    .page-container#homepage-2 form textarea {
      height: 145px;
      width: 80%; }
    .page-container#homepage-2 form button {
      position: absolute;
      left: 33%;
      width: 9%;
      padding: 7% 0 1% 0;
      bottom: 0%;
      opacity: 1;
      text-transform: uppercase; }
      .page-container#homepage-2 form button:hover {
        opacity: 1; }

#homepage-scroller.homepage-1 #finger {
  animation: push 2s forwards 2s; }

#homepage-scroller.homepage-1 .textblock {
  animation: float 2s forwards 2s; }

#homepage-scroller.homepage-2 #homepage-2 h2 {
  animation: float 2s forwards 2s; }

#homepage-scroller.homepage-2 #boarding-pass {
  animation: present 1.0s ease-in-out 1.5s forwards; }

@keyframes present {
  0% {
    transform: rotate(10deg) translate(0%, -50%); }
  40% {
    transform: rotate(12deg) translate(0%, -50%); }
  100% {
    transform: rotate(0deg) translate(0, -50%); } }

body.loaded .loader {
  transform: rotate(90deg); }

body.loaded .st0 {
  animation: dash 5s linear forwards; }

body.loaded #title > span {
  opacity: 1;
  transform: rotateX(0); }

@keyframes warp {
  0% {
    transform: translateY(-300px) skew(30deg) rotate(10deg); }
  33% {
    transform: translateY(-300px) skew(-20deg) rotate(0deg) scale(0.8, 1.2); }
  66% {
    transform: translateY(-300px) skew(10deg) rotate(15deg); }
  100% {
    transform: translateY(-300px); } }

#blimpContainer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  height: 100vh;
  z-index: 3; }
  #blimpContainer.hidden {
    display: none;
    pointer-events: none; }

@keyframes positionScissors {
  0%, 100% {
    transform: translateX(30%); }
  50%, 70% {
    transform: translateX(25%); }
  60%, 0% {
    transform: translateX(0%); } }

@keyframes chop {
  0%, 100% {
    transform: rotate(20deg); }
  50%, 70% {
    transform: rotate(18deg); }
  60%, 0% {
    transform: rotate(0deg); } }

@keyframes push {
  0% {
    transform: translate(-50px, -50%); }
  20% {
    transform: translate(0, -50%); }
  25% {
    transform: translate(50px, -50%) rotate(3deg); }
  90%, 100% {
    transform: translate(-50px, -50%); } }

@keyframes float {
  0% {
    transform: translate(-125px, -50%); }
  20% {
    transform: translate(-125px, -50%); }
  25% {
    transform: translate(-50px, -50%); }
  100% {
    transform: translate(0px, -50%); } }

footer {
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: none; }

.menu-container {
  position: fixed;
  bottom: 5vh;
  right: -100%;
  height: 100px;
  width: 100%;
  z-index: 20; }
  .menu-container svg#menu {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .menu-container #menu-img {
    position: absolute;
    background-image: url(../assets/images/menu-bg2.jpg);
    background-size: cover;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .5s;
    z-index: 2; }
  .menu-container #menu-container-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    transform: translateY(-100px);
    transition: transform .5s ease-out 1s; }
    .menu-container #menu-container-close:hover svg {
      animation: bulge 1s; }

@keyframes bulge {
  0, 100% {
    transform: scale(1);
    opacity: 0.5; }
  30% {
    transform: scale(1.2);
    opacity: 1; } }
  .menu-container #menu-list {
    position: absolute;
    bottom: 5%;
    left: 5%;
    list-style: none;
    z-index: 3;
    opacity: 0;
    transform: translateY(-1000px);
    transition: opacity 2.5s linear 1.0s, transform 0.5s;
    font-size: 5vw; }
    .menu-container #menu-list a {
      color: white;
      line-height: 1.25;
      text-decoration: none;
      transition: opacity .4s; }
      .menu-container #menu-list a:hover {
        opacity: 0.5; }
    .menu-container #menu-list .small {
      font-size: 2.5vw;
      color: white;
      vertical-align: sub; }
  .menu-container #menu-icon {
    position: fixed;
    display: block;
    right: 0;
    top: calc(50% - 100px);
    width: 70px;
    height: auto;
    cursor: pointer;
    z-index: 3;
    transition: transform 0.5s;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2)); }

body.animating .menu-container {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%; }
  body.animating .menu-container #menu-icon {
    transform: translateX(100px); }

body.activated .menu-container {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%; }
  body.activated .menu-container #menu-img {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 1s, opacity .5s .5s; }
  body.activated .menu-container #menu-container-close {
    transform: translateY(0); }
  body.activated .menu-container #menu-list {
    transform: translateY(0);
    opacity: 1; }
  body.activated .menu-container #menu-icon {
    transform: translateX(100px); }

@keyframes sliding {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-15%); }
  100% {
    transform: translateX(0); } }

* {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.gallery-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/noise.png), linear-gradient(#333, #111);
  background-size: 30%, 100%;
  padding: 10px;
  opacity: 0;
  transform: scale(0.01);
  transition: transform 1s ease-out, opacity 1s;
  z-index: 10;
  overflow: hidden; }
  .gallery-container a {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none; }
  .gallery-container a.gallery-container-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 10px; }
  .gallery-container .nav {
    position: absolute;
    display: block;
    left: calc(50% - 50px);
    width: 100px;
    height: 54px;
    z-index: 100;
    transition: all 0.5s;
    cursor: pointer; }
    .gallery-container .nav span {
      font-size: 16px;
      display: block;
      position: absolute;
      text-align: center;
      left: 100px;
      top: 20px;
      opacity: 0;
      letter-spacing: 2px;
      transition: opacity .25s; }
    .gallery-container .nav:hover span {
      opacity: 0.5; }
    .gallery-container .nav svg {
      display: block; }
    .gallery-container .nav#nav-prev {
      top: 10px; }
      .gallery-container .nav#nav-prev.hidden {
        top: -20%; }
    .gallery-container .nav#nav-next {
      bottom: 10px; }
      .gallery-container .nav#nav-next.hidden {
        bottom: -20%; }

.gallery-active .gallery-container {
  transform: scale(1);
  opacity: 1;
  transition: transform 1s ease-out, opacity 0.25s; }

#gallery-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#slider {
  width: 100%;
  height: 600%;
  will-change: transform;
  transition: transform 1s; }
  #slider > .slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    height: 16.66667%;
    opacity: 0;
    transition: opacity .25s; }
    #slider > .slide h2 {
      font-size: 3em; }
    #slider > .slide.active-slide {
      opacity: 1; }
      #slider > .slide.active-slide .gallery-text {
        transform: translateY(0); }
      #slider > .slide.active-slide a {
        display: block;
        text-align: center;
        max-width: 50%; }
    #slider > .slide img {
      transform: rotate(30deg) skew(-30deg);
      display: block;
      max-width: 100%;
      transition: transform 1s ease-out 0.5s; }
      #slider > .slide img:hover {
        transform: none; }
    #slider > .slide .gallery-text {
      width: 50%;
      margin: 0 20px;
      position: relative;
      transition: transform 1s 0.5s; }
      #slider > .slide .gallery-text a {
        max-width: 100%; }
    #slider > .slide .site-href {
      display: block;
      text-align: center; }
  #slider.slide-0 {
    transform: translateY(0%); }
  #slider.slide-1 {
    transform: translateY(-16.66667%); }
  #slider.slide-2 {
    transform: translateY(-33.33333%); }
  #slider.slide-3 {
    transform: translateY(-50%); }
  #slider.slide-4 {
    transform: translateY(-66.66667%); }
  #slider.slide-5 {
    transform: translateY(-83.33333%); }
  @media (max-width: 960px) {
    #slider > .slide {
      flex-direction: column; } }

html.active-offscript {
  height: auto;
  overflow: auto; }

body.active-offscript {
  border: none;
  height: auto; }
  body.active-offscript:before, body.active-offscript:after {
    content: none; }

.container {
  width: 100%;
  padding: 100px 20px;
  text-align: center; }
  .container h2 {
    text-align: left; }

figure {
  width: 20%;
  display: inline-block;
  padding: 0px;
  overflow: hidden;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 10px; }
  figure > .inner {
    padding: 50% 0;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 15px rgba(50, 50, 50, 0.1);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-out; }
  figure > img {
    width: 100%; }
  figure figcaption {
    position: relative;
    text-align: left;
    left: calc(100% - 0.8em);
    transition: left 0.5s ease-out;
    white-space: nowrap; }
  figure:hover > .inner {
    transform: scale(1.05); }
  figure:hover figcaption {
    left: 0; }

#content-slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  transform: translateX(100%);
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3; }
  #content-slider.active {
    transform: translateX(0); }
  #content-slider iframe {
    width: 100%;
    height: 100vh; }
  #content-slider img {
    display: block;
    max-width: 100%; }

#icon-close {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 4;
  transform: translateY(-100px);
  transition: transform .5s ease-out 1s;
  mix-blend-mode: difference; }
  #icon-close svg {
    fill: red; }
  #icon-close:hover svg {
    animation: bulge 1s; }
  #icon-close.active {
    transform: translateY(0px); }
