---
# homepage
---
<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
	<title>guest+guest</title>
	<link href="assets/all.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
</head>

<body class="">
	<!-- <body class="active-portfolio"> -->


	<header>
		<img src="//www.guestandguest.com/images/gg_guestandguest-txt_logo.png" />
		<svg viewBox="0 0 100 346" width="100%" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.4" preserveAspectRatio="none">
			<!-- <path d="M0 0l16.3 85.2 15 43L48.8 246l18.4-24L100 0H0z" fill="rgba(0,0,0,0.02)"/> -->
			<path d="M0 0l16.2 50.2 14.6 38 18 82.2 18.6-17.6L100 0H0z" fill="#fff" stroke="#eee"/>
			<!-- <defs>
		    <filter id="drop-shadow" x="0" y="0" width="100%" height="130%">
		      <feOffset result="offOut" in="SourceAlpha" dx="00" dy="0" />
		      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="5" />
		      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
		    </filter>
		  </defs> -->
		</svg>
	</header>


	<div id="homepage-scroller" class="homepage-3">
		<div class="page-container" id="homepage-0">
			{% include bg-1.html %}

			<h1 class="text">Untether Your Creativity</h1>
			<div id="title"></div>

			<button id="load">Load</button>


		</div>
		<div class="page-container" id="homepage-1">
			<h2>page1</h2>
			<img id="finger" class="abs middle" src="assets/images/pointing-finger-right.png">
			<div class="textblock abs middle">People can tell a lot about the quality of a business just by peering into its shop window. Today, your website is the equivalent. Having an intuitive website which doesn't look and function like an after-thought is invaluable to your customers and,
				ultimately, your business. At guest+guest, we work with you to build a bespoke website that meets all of your needs, and gives your customers peace of mind on their first visit. Your website will be designed uniquely for you, ensuring that your 'shop
				window' stands out from the crowd!</div>

		</div>
		<div class="page-container" id="homepage-2">
			<h2>Page2</h2>
			<div class="textblock abs middle">We can do loads of stuff</div>

		</div>
		<div class="page-container" id="homepage-3">
			<h2>Page3</h2>
			<div class="abs text-center middle" id="boarding-pass">
				<form action="php/sendmail.php" class="clear" >
					<div class="form-left">
						<label for="input-name">PASSENGER NAME<br/>
					  	<input type="text" id="input-name" placeholder="Enter your name..."/>
						</label>
					 	<label for="input-email">PASSENGER EMAIL<br/>
					  	<input type="email" id="input-email" placeholder="your email..."/>
					  </label>
					</div>
					<div class="form-right clear">
					  <label for="input-message">MESSAGE</br>
							<textarea id="input-message" placeholder="and your message. Thanks!"></textarea>
						</label>
					</div>
					<button type="submit">Send!</button>
	   		</form>
			</div>

		</div>

	</div>

	<a href="#" id="homepage-next" class="fixed bottom text-center">
		{% include icon-next.html %}
	</a>
	<a href="#" id="homepage-prev" class="fixed top text-center">
		{% include icon-prev.html %}
	</a>

	<form class="fixed top" action="php/sendmail.php" method="POST">

		<button type="submit" id="send" class="fixed top">SEND IT</button>
	</form>

	<section class="page" id="portfolio">
		<img id="heightmap" style="position:absolute;opacity:0" src="assets/images/landmap.png"/>
		<div class="gallery-container">
			{% include gallery.html %}
		</div>
		<h3 class="abs text-center bottom">Move your mouse and click a banner to view a site</h3>
	</section>


	<div class="menu-container">
		<a id="menu-container-close">
			<svg viewBox="0 0 54 54" width="54" height="54" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
				<polyline points="5,10 52,42" fill="none" stroke="white" stroke-width="2"	/>
				<polyline points="2,52 50,2" fill="none" stroke="white" stroke-width="2"	/>
				<circle cx="2" cy="52" r="2" fill="white"/>
				<circle cx="50" cy="2" r="2" fill="white"/>
				<circle cx="5" cy="10" r="2" fill="white"/>
				<circle cx="52" cy="42" r="2" fill="white"/>
			</svg>
		</a>
		<svg id="menu"></svg>
		<svg id="menu-init"></svg>


		<ul id="menu-list">
			<li><a href="#home">Home</a></li>
			<li><a href="#portfolio">A selection of work</a></li>
			<li><a href="#homepage-1">What we do</a></li>
			<li><a href="#homepage-3">Contact</a></li>
			<li>
				<a href="//behance.net/guestandguest" target="_blank"><img data-target="//behance.net/guestandguest" src="assets/images/behance-logo.svg"/></a>
				<a href="//codepen.io/guestn/pens/public/" target="_blank"><img data-target="//codepen.io/guestn/pens/public/" src="assets/images/codepen-logo.svg"/></a>
				<a class="small" data-target="/offscript.html"/>[Offscript]</a>
			</li>

		</ul>


		<!-- <img id="menu-img" src="//static.pexels.com/photos/3182/dark-mountain.jpeg"/> -->
		<div id="menu-img" ></div>

		<svg id="menu-icon"></svg>
	</div>

	<img src="assets/images/icon-home.svg" id="home-icon">


	<!-- <footer>
		<form>
			<label for="input-name">

				<input type="text" id="input-name" placeholder="Enter your name..."/>
			</label>
			<label for="input-email">
				<input type="email" id="input-email" placeholder="your email..."/>
			</label>
			<label for="input-message">
				<textarea id="input-message" placeholder="and your message. Thanks!"></textarea>
			</label>
		</form>

	</footer> -->



	<!-- <script src="js/snap.svg-min.js"></script>
	<script src="js/three.min.js"></script>
	<script src="js/OBJLoader.min.js"></script>

	<script src="js/geoJelly.js"></script>
	<script src="js/homepage.js"></script>

	<script src="js/blimp.js"></script>
	<script src="js/waterShader.js"></script>

	<script src="js/gallery2.js"></script>

	<script src="js/sendmail.js"></script> -->

	<script src="dist/scripts/scripts.js"></script>



	<script>
	</script>





</body>

</html>
